.container {
    flex: 2;
    margin-top: 60px;
    position: sticky;
    top: -70px;
    height: 100%;
}
.subtitle {
    color: rgb(128, 128, 128);
    font-size: 16px;
    font-weight: 400;
}
.title {
    font-size: 28px;
}
.items {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 35px;
    margin-bottom: 65px;
}
.item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.imgContainer {
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
}

.img {
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--textColor);
}
.txtContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.titlePost {
    font-size: 18px;
    font-weight: 500;
    color: var(--softTextColor);
}
.category {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}
.travel {
    background-color: #F4A361;
}
.style{
    background-color: #1E3953;
}
.fashion {
    background-color: #000000;
}
.code {
    background-color: #FFA500;
}
.culture {
    background-color: #008001;
}
.food {
    background-color: #8B0000;
}
.details {
    font-size: 12px;
}
.date{
    padding: 2px 2px;
    color: var(--textColor);
}

.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.categoryItems {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    font-weight: 300;
}

@media screen and (max-width: 1024px) {
    .container {
        display: none;
    }
}