.container {
}

.infoContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.txtContainer {
    flex: 1;
}

.imgContainer {
    flex: 1;
    height: 350px;
    position: relative;
}
.userImgContainer {
    width: 60px;
    height: 60px;
    position: relative;
}
.title {
    font-size: 64px;
    margin-bottom: 50px;
}
.userImg {
    object-fit: cover;
    border-radius: 50%;
}

.img {
    object-fit: cover;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
}
.username {
    font-size: 18px;
    font-weight: bold;
}
.userTxtContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
}

.content {
    display: flex;
    gap: 50px;
}

.post {

}