.container {
    margin-top: 30px;
}

.title {
    font-size: 50px;
    font-weight: 300;
}

.post {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.imgContainer {
    flex: 1;
    position: relative;
}
.image {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.txtContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fPostTitle {
    font-size: 38px;
}

.fPostDesc {
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
}
.button {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: max-content;
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .post {
        flex-direction: column-reverse;
    }
    .imgContainer{

    }
    .image {
        width: 100%;
        height: auto;
    }
    .button {
        padding: 13px 15px;
    }
    .post {
        margin-top: 30px;
        gap: 25px;
    }
    .title {
        font-size: 35px;
    }
}